@import "../../scss/variables.scss";

.logo {
    display: flex;
    align-items: center;
    color: $greyColor;
    padding-left: 15px;

    .logoText {
        /* */
    }
    
    .title {
        margin: 0;
        text-align: center;
        font-size: 2.7em;
        font-weight: 500;
        line-height: 1;
    }
    
    .subTitle {
        margin: 0;
        text-shadow: 21px 10.5px 21px 0px rgba(255, 255, 255, 0.40);
        font-size: 1em;
        font-weight: 500;
        line-height: 1;
    }
}
