.button {
    border-radius: 10px;
    padding: 12px 20px;
    border: none;
    outline:none;
    transition: .3s;
    cursor: pointer;
    font-size: 20px;
    display: inline-block;
    height: 44px;
    white-space: nowrap;

    &.yellow{
        background: #EAD700;
        color: #373F41;

        &:hover {
            box-shadow: 0px 0px 8px 0px rgba(90, 194, 233, 0.80);
        }

        &:active {
            background: var(--dark-dark-yellow, #AC9E00);
            box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.20) inset;
        }
    }
}