@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700&display=swap');

$borderColor: #D9D9D9; // default border color
$lightBlueColor: rgb(90, 194, 233); //light blue color for navbar

$mainGreen: #499F53;
$mainYellow: #F9EB4F;
$darkBlue: #D8EBF8;
$fontBlack: #373F41; //default text color
$fontGrey: #6D6D6D;
$fontLightGrey: #D9D9D9;


body {
  font-family: 'Jost', sans-serif;
  color:$fontBlack;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

input {
  width: 100%;
  height: 100%;
  outline:none;
  border:none;
}

.rotate {
  transform:rotate(180deg);
}

.spinner {
    display: inline-block;
    width: 100%;

    &:after {
        content: " ";
        display: block;
        width: 50px;
        height: 50px;
        margin: 16px auto;
        border-radius: 50%;
        border: 6px solid grey;
        border-color: grey transparent grey transparent;
        animation: spinner .8s linear infinite;
      }
  }
  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
